.theme-dark {
  --text: #ffffff;
  --light-text: #ffffff;
  --accent-text: #ffffff;
  --background: #000000;
  --accent: #004333;
  --border: #9c9c9c;
  --error: #d34242;
  --danger: #672b2b;
  --button-bg: #292929;
  --button-text: #ffffff;
  --stop: rgb(255, 96, 68);
  --play: rgb(56, 255, 56);
}

.theme-light {
  --text: #000000;
  --light-text: #8d8d8d;
  --accent-text: #000000;
  --background: #eee;
  --accent: #00ffc2;
  --border: #000000;
  --danger: #d34242;
  --error: #d34242;
  --button-bg: #ececec;
  --button-text: #ffffff;
  --stop: rgb(209, 81, 58);
  --play: rgb(34, 143, 34);
}

html, #root {
  background-color: var(--background);
  color: var(--text);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

