.theme-dark {
  --text: #ffffff;
  --light-text: #ffffff;
  --accent-text: #ffffff;
  --background: #292929;
  --accent: #004333;
  --border: #9c9c9c;
  --error: #d34242;
  --danger: #672b2b;
  --button-bg: #292929;
  --button-text: #ffffff;
  --stop: rgb(255, 96, 68);
  --play: rgb(56, 255, 56);
}

.theme-light {
  --text: #000000;
  --light-text: #8d8d8d;
  --accent-text: #000000;
  --background: #ffffff;
  --accent: #00ffbf;
  --border: #000000;
  --danger: #d34242;
  --error: #d34242;
  --button-bg: #ececec;
  --button-text: #ffffff;
  --stop: rgb(209, 81, 58);
  --play: rgb(34, 143, 34);
}

html, #root {
  background-color: var(--background);
  color: var(--text);
}


.App {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .App {
    border: 1px solid;
  }
}

.error {
  background-color: var(--error);
  color: var(--light-text);
  display: flex;
  align-content: center;
}

.error * {
  align-content: center;
}

.error-title {
  flex: 1;
}

.p3 {
  padding: 1em;
}

nav{
  width: 100%;
  display: flex;
}

nav * {
  align-content: center;
}

.app-title {
  flex: 1;
}

.button {
  border: 1px solid var(--border);
  padding: 1em;
  min-width: 2em;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--accent-text);
  font-size: 1em;
}

.button-danger {
  background-color: var(--danger);
}

.button.big {
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

input, .input {
  padding: 1em;
  border: 1px solid var(--border);
  /* margin-bottom: 0.5em; */
  display: flex;
  background-color: var(--background);
  color: var(--text);
}

.input > label {
  flex: 1;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.list-item * {
  align-content: center;
  border: 1px solid var(--border);
}

.card-title {
  flex: 1;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 1.5em;
  padding: 1em;
}

.counter {
  display: flex;
  border: 1px solid var(--border);
  align-items: center;
  text-align: center;
}

.counter-title {
  flex: 1;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  /* padding: 1em; */
}

.timer {
  display: flex;
  border: 1px solid var(--border);
  align-items: center;
  text-align: center;
}

.timer-title {
  flex: 1;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  /* padding: 1em; */
}

.stop {
  color: var(--stop);
}

.start {
  color: var(--play);
}

.hidden {
  display: none;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  /* border: 0.15em solid currentColor; */
  /* border-radius: 0.15em; */
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent-text);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}


.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}